body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC7_GkD6DCoE5lm2nItn34yvfTX3b62lsgsQ&s);
    background-repeat:no-repeat;
    background-size:150%;
}
g{  
    height=500px;
    margin-left:30px;
}


y{
    margin-left:30px;
}